
{% extends "1.html" %}
{% block content %}


    <form action="/send" method="post">
        <input type="text" name="char" placeholder="Буква..." autocomplete="off" minlength="1" maxlength="1" a autofocus>
        <input type="submit" class="btn btn-success">
    </form>

    <img src="{{ url_for('static', filename='viselitsa.jpg') }}" alt="">
    <h1>{{ x_word }}</h1>
<span id="hearts">
{%for a in range( live )%}
    ♥
    {%endfor%}
</span>
<div>
    <a class="btn btn-primary" href="/logout" role="button">Я сдаюсь!</a>
    <a class="btn btn-outline-primary" href="/results" role="button">Результаты</a>
</div>
{% endblock %}
